


 <table class="table">
        <thead>
            <tr>
                
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Edit</th>
                <th>Delete</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var user in data)
            {
                <tr>
                   
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                    <td><a class="btn btn-info text-white" href="/user/@user.Id">Edit</a></td>
                    <td><button @onclick="@(() => onDeleteClickHandler(user.Id.ToString()))" class="btn btn-danger">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>


@code {

    [Parameter]
    public EventCallback<string> onDeleteClicked {get;set;}


    protected async Task onDeleteClickHandler(string userId)
    {
        await onDeleteClicked.InvokeAsync(userId);
    }
 }


